<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>THCM</h1>
    <p><%= message %></p>

    <section ng-view></section>

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-route.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular-resource.min.js"></script>

     <script type="text/javascript" src="/empreendimentos/empreendimentos.client.module.js"></script>
     <script type="text/javascript" src="/empreendimentos/controllers/empreendimentos.client.controller.js"></script>
     <script type="text/javascript" src="/empreendimentos/config/empreendimentos.client.routes.js"></script>

     <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
